<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goo.carrotmarket">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="false"
        android:icon="@drawable/snowman_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".View.Intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.SelectingLocation.FindMyLocationActivity" />
        <activity android:name=".View.Write.WritingActivity" />
        <activity android:name=".View.Authentication.AuthenticationActivity" />
        <activity android:name=".Activity.Success" />
        <activity android:name=".View.Detail.DetailActivity" />
        <activity android:name=".View.Write.WriteCategoryActivity" />
        <activity android:name=".View.Category.CategoryActivity" />
        <activity android:name=".View.Home.HomeActivity" />
        <activity android:name=".View.Home.HomeActivity2" />
        <activity android:name=".View.LoginRegister.RegisterActivity" />
        <activity android:name=".View.Authentication.EmptyActivity" />
        <activity android:name=".View.Home.Filter.HomeManagerActivity" />
        <activity android:name=".View.MyProfile.SellList.SellListActivity" />
        <activity android:name=".View.MyProfile.ConcernList.ConcernListActivity" />
        <activity android:name=".View.MyProfile.BuyList.BuyListActivity" />
        <activity android:name=".View.MyProfile.SetMyLocation.SetMyLocationActivity" />
        <activity android:name=".View.Seller.SellerProducts.SellerActivity" />
        <activity android:name=".View.MyProfile.Setting.SettingActivity" />
        <activity android:name=".View.Seller.SellerProfile.SellerProfileActivity" />
        <activity android:name=".View.Home.Search.SearchActivity" />
        <activity android:name=".View.Category.Collection.CollectionActivity" />
        <activity android:name=".View.MyProfile.AuthenticateMyLocation.AuthenticateMyLocationActivity" />
        <activity android:name=".View.Category.Collection.CollectionManage.CollectionManageActivity" />
        <activity android:name=".View.Detail.Reply.ReplyActivity" />
        <activity
            android:name=".View.Chat.ChatRoom.ChatRoomActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".View.MyProfile.SetKeyword.SetKeywordActivity" />
        <activity android:name=".View.Detail.ChatList.ChatListActivity" />


    </application>

</manifest>