<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goo.carrotmarket">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="false"
        android:icon="@drawable/snowman_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".View.Intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.SelectingLocation.FindMyLocationActivity" />
        <activity android:name=".View.Write.WritingActivity" />
        <activity android:name=".View.Authentication.AuthenticationActivity" />
        <activity android:name=".Activity.Success" />
        <activity android:name=".View.Detail.DetailActivity" />
        <activity android:name=".View.Write.WriteCategoryActivity" />
        <activity android:name=".View.Category.CategoryActivity" />
        <activity android:name=".View.Home.HomeActivity" />
        <activity android:name=".View.Home.HomeActivity2" />
        <activity android:name=".View.LoginRegister.RegisterActivity" />
        <activity android:name=".View.Authentication.EmptyActivity" />
        <activity android:name=".View.Home.Filter.HomeManagerActivity" />
        <activity android:name=".View.MyProfile.SellList.SellListActivity" />
        <activity android:name=".View.MyProfile.ConcernList.ConcernListActivity" />
        <activity android:name=".View.MyProfile.BuyList.BuyListActivity" />
        <activity android:name=".View.MyProfile.SetMyLocation.SetMyLocationActivity" />
        <activity android:name=".View.Seller.SellerProducts.SellerActivity" />
        <activity android:name=".View.MyProfile.Setting.SettingActivity" />
        <activity android:name=".View.Seller.SellerProfile.SellerProfileActivity" />
        <activity android:name=".View.Home.Search.SearchActivity" />
        <activity android:name=".View.Category.Collection.CollectionActivity" />
        <activity android:name=".View.MyProfile.AuthenticateMyLocation.AuthenticateMyLocationActivity" />
        <activity android:name=".View.Category.Collection.CollectionManage.CollectionManageActivity" />
        <activity android:name=".View.Detail.Reply.ReplyActivity" />
        <activity
            android:name=".View.Chat.ChatRoom.ChatRoomActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".View.MyProfile.SetKeyword.SetKeywordActivity" />
        <activity android:name=".View.Detail.ChatList.ChatListActivity" />
        <activity android:name=".View.Chat.ChatRoom.Reserve.ReserveActivity" />
        <activity android:name=".View.Detail.SelectBuyer.SelectBuyerActivity" />
        <activity android:name=".View.Hoogi.HoogiActivity" />

        <!--구글맵을 이용하기 위해 필요한 설정-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAyTUp-E46buzU4_CDPxGgVGmT23MlNbqU" />


        <!--페이스북 핸드폰,이메일 인증에 필요한 설정-->
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/account_kit_client_token" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Hoogi.SeeMyHoogi.SeeMyHoogiActivity" />
        <activity android:name=".View.Seller.SellerProfile.SellerHoogi.SellerHoogiActivity" />


    </application>

</manifest>